{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#block18enabled}}
    <section id="block18">
        {{{block18caption}}}
		<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">

    <h5 class="hh">Perguntas Frequentes</h5><br>
<h1 style="color:black" >Encontre abaixo as perguntas frequentes sobre os produtos e serviços oferecidos pela Imara.</h1>
   
	
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Inscrição e Pagamento</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Acesso ao Conteúdo</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Certificação e Avaliação</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Suporte e Consultoria</a></li>

	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Inscrição e Pagamento</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Como faço para me inscrever em um curso?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> Para se inscrever em um curso, basta criar uma conta em nosso site, escolher o curso desejado e seguir o processo de inscrição. Você poderá pagar através de cartão de crédito, PayPal ou transferência bancária.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Quais métodos de pagamento são aceitos?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Aceitamos os seguintes métodos de pagamento: cartão de crédito (Visa, MasterCard, American Express), PayPal e transferência bancária.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Posso obter um reembolso se não puder concluir o curso?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Sim, oferecemos uma política de reembolso de 14 dias. Se você não estiver satisfeito com o curso dentro deste período, entre em contato com nosso suporte para iniciar o processo de reembolso</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			
		</ul> <!-- cd-faq__group -->

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Acesso ao Conteúdo</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Como acesso o conteúdo do curso após a inscrição?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Após a inscrição, você pode acessar o conteúdo do curso fazendo login na sua conta e navegando até o seu painel de controle. Lá, você encontrará todos os cursos nos quais está matriculado.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Posso revisar o conteúdo do curso após a conclusão?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Sim, você terá acesso vitalício ao conteúdo do curso, permitindo que você revise as aulas e materiais sempre que precisar.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Posso baixar os materiais do curso?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Alguns materiais, como PDFs e slides, estão disponíveis para download. No entanto, vídeos e outros conteúdos interativos devem ser acessados diretamente na plataforma.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Certificação e Avaliação</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Receberei um certificado após concluir o curso?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Sim, ao concluir todos os módulos e atividades obrigatórias do curso, você receberá um certificado de participação digital.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Como os cursos são avaliados?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Os cursos são avaliados através de quizzes, tarefas práticas e, em alguns casos, projetos finais. As instruções específicas de avaliação são fornecidas dentro de cada curso.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>O certificado é reconhecido por instituições ou empresas?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Nossos certificados são reconhecidos por várias instituições e empresas. Eles comprovam que você concluiu com sucesso o curso e adquiriu as habilidades necessárias.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		
		</ul> <!-- cd-faq__group -->

		<ul id="payments" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Suporte e Consultoria</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Como posso entrar em contato com o suporte?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> Você pode entrar em contato com nosso suporte através do formulário de contato no site, por e-mail (suporte@exemplo.com) ou pelo telefone (123-456-7890).</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>O que inclui o suporte ao aluno?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Nosso suporte ao aluno inclui assistência técnica, ajuda com a navegação na plataforma e respostas a perguntas sobre o conteúdo do curso.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Como posso agendar uma sessão com um consultor sênior?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Para agendar uma sessão com um consultor sênior, acesse a seção de consultoria na sua conta e escolha um horário disponível. Nossos consultores estão aqui para ajudar com orientação especializada e tirar suas dúvidas.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>


</section>
 <script src="theme/almondb/lib/util/util.js"></script>
<script src="theme/almondb/lib/main/main.js"></script>

    </section>

{{/block18enabled}}
